@{
  Layout = "_Layout";
}

@model SweetsAndTreats.Models.Treat

<h4>Edit this Treat: @Html.DisplayFor(m=>m.TreatName)</h4>

<p>@Html.ValidationMessageFor(m=>m.TreatName,"", new {@class = "text-danger", @style = "font-weight: 600;"})</p>

<div class="box">
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(m => m.TreatId)

    <p>Treat Name: @Html.EditorFor(model => model.TreatName)</p>
    <input type="submit" value="Save Changes" class="btn btn-default" />
  }
</div>

<p>@Html.ActionLink("Back to treats","Index")<p>